* {
  font-family: 'Montserrat', sans-serif;

}
.wrapperheader {
  width: 100%;
  height: 100px;

}
.container {
  width: 50%;
  height: 100%
}
.bg_black {
  background: #2c3e50;
}
.marginright {
  margin-left: 320px
}
.marginleft {
  margin-right: 120px;
}
.wrapperheader a {
  color: #fff;
  font-size: 20px;
  line-height: 100px;
  padding: 20px;
  text-decoration: none;


}

.hover a:hover {
  color: #18bc9c
}

.wrapperjumbo {
  width: 100%;
  height: 700px;
  background: #18bc9c

}
.wrapperjumbo img {
  margin-top: 85px;
}
.wrapperjumbo h1 {
  color: #fff;
  margin-top: 70px;
  font-size: 80px;

}
.jumbo {
  color: #fff;
  font-size:
}
.wrapperjumbo i {
  font-size: 40px;
  color: #fff;
  margin-top: 30px;
}
.wrapperjumbo p {
  margin-top: 25px;
  font-size: 25px;

}
.wrapperportfolio {
  width: 100%;
  height: 850px;
  background: white;
}
.container h2 {
  font-size: 40px;
  color: #2c3e50;
  margin-top: 90px;
  font-weight: 600;

}
.wrapperportfolio i {
  font-size: 40px;
  color: #2c3e50;
  margin-top: 25px;
  margin-bottom: 50px;

}
.firstimageline {
  display: inline-block;
  margin-top: 300px;
}
.wrapperportfolio h2 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 80px;

}
.secondimgline {
  margin-top: 30px;
}
