* {
  font-family: 'Montserrat', sans-serif;

}
.wrapperheader {
  width: 100%;
  height: 100px;



}
.container {
  width: 50%;
  height: 100%
}
.bg_black {
  background: #2c3e50;
}
.marginright {
  margin-left: 320px
}
.marginleft {
  margin-right: 120px;
}
.wrapperheader a {
  color: #fff;
  font-size: 20px;
  line-height: 100px;
  padding: 20px;
  text-decoration: none;


}

.hover a:hover {
  color: #18bc9c
}

.wrapperjumbo {
  width: 100%;
  height: 800px;
  background: #18bc9c

}
.wrapperjumbo img {
  margin-top: 85px;
}
.wrapperjumbo h1 {
  color: #fff;
  margin-top: 70px;
  font-size: 80px;

}
.jumbo {
  color: #fff;
  font-size:
}
.wrapperjumbo i {
  font-size: 40px;
  color: #fff;
  margin-top: 50px;
}
.wrapperjumbo p {
  margin-top: 25px;
  font-size: 25px;

}
.wrapperportfolio {
  width: 100%;
  height: 950px;
  background: white;
}
.container h2 {
  font-size: 40px;
  color: #2c3e50;
  margin-top: 90px;
  font-weight: 600;

}
.wrapperportfolio i {
  font-size: 40px;
  color: #2c3e50;
  margin-top: 50px;
  margin-bottom: 50px;

}
.firstimageline {
  display: inline-block;
  margin-top: 300px;
}
.wrapperportfolio h2 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 80px;

}
.secondimgline {
  margin-top: 30px;
}

.wrapperabout {
  width: 100%;
  height: 650px;
  background: #18bc9c
}
.wrapperabout h2 {
  color: #fff;
  font-size: 50px;
}
.wrapperabout i {
  color: #fff;
  font-size: 40px;
  margin-top: 30px;
}
.wrapperabout p {
  color: #fff;
  font-size: 18px;
  margin-top: 40px;

}

.download a:hover {
  color: #fff
}
.download a {
  background: #18bc9c;
  color: #fff;
  text-decoration: none;
   padding: 30px;
  border-radius: 5px;
  border-color: #fff;
  font-size: 20px;
  border-right: 20px;

}
.wrappercontactme {
  background: white;
  width: 100%;
  height: 1200px;
}
.wrappercontactme h2 {
  font-size: 50px;
  font-weight: 800;
  margin-top: 80px;

}
.wrappercontactme i {
  font-size: 40px;
  margin-top: 50px;

}
.form {
  width: 70%;
  height: 600px;
}
.nome label {
  text-decoration: none;
  font-size: 30px;
  margin-top: 60px;

}
.date {
  width: 100%;
  border-bottom: 2px solid #e9ecef;
}
input {
  border: none;
  display: block;

}


.send a {
  background: #18bc9c;
  color: #fff;
  text-decoration: none;
  padding: 30px;
  border-radius: 5px;
  border-color: #fff;
  font-size: 20px;
}
.footer {
  width: 100%;
  height: 350px;
  background: white;
  color: #fff;
  background: #2c3e50;
}
.location, .around, .freelancer {
  margin-top: 80px;
}


li {
  display: inline;

}
.inlineitem i {

font-size: 30px;
margin: 0 10px;

color: #fff;border-radius: 2px;
border-color: #f8f9fa;



}
 ul a {
  font-size: 60px;

}

.freelancer a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;


}
.freelancer a:hover{
  color: #18bc9c
}
.inlineitem i:hover{
  color: #18bc9c
}
.footer p {
  margin-top: 50px;
}
